/* VARIABLE SETTINGS */
:root {
	--background-color: #ffffff;
	--foreground-color: #4f5356;
	--foreground-color-light: #282828;
	--primary-accent-color: #015883;
	--secondary-accent-color: #afe8fd;
}

//Font Import
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/*GLOBAL SETTINGS*/
* {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	box-sizing: border-box;
	max-width: 100vw;
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	background: #ffffff;
	font-family: "Raleway", serif;
}
body.no-scroll {
	overflow: hidden;
	transition: all 0.3s ease; // Optional: control smoothness of scroll lock
}
::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--foreground-color);
}

//Primary Title
h1 {
	font-size: 50px;
	font-weight: 700;
	line-height: 57.5px;
}
//Secondary Title
h2 {
	font-size: 37px;
	font-weight: 700;
	line-height: 42.55px;
}

//Tertiary Title
h4 {
	font-size: 22px;
	font-weight: 700;
	line-height: 27.6px;
}

//Mini Title
h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 18.4px;
}

p,
a,
ul {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.site-btn {
	display: flex;
	align-items: center;
	background: #afe8fd;
	padding: 10px 20px;

	p {
		color: var(--foreground-color);
		font-weight: 600;
	}
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 10px;
		color: var(--primary-accent-color);
		border: 1.5px solid var(--primary-accent-color);
		border-radius: 50%;
		padding: 4px;
		margin-left: 0.5em;
	}
}
.site-btn-outline {
	display: flex;
	align-items: center;
	border: 2px solid #1396ba;
	padding: 10px 20px;

	p {
		color: var(--primary-accent-color);
		font-weight: 600;
	}
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 10px;
		color: var(--primary-accent-color);
		border: 1.5px solid var(--primary-accent-color);
		border-radius: 50%;
		padding: 4px;
		margin-left: 0.5em;
	}
}

#search-popup {
	background-color: var(--background-color);
	padding: 2rem;
	border-radius: 8px;
	max-width: 400px;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	h2 {
		margin-bottom: 1rem;
		color: var(--primary-accent-color);
		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		input[type="text"] {
			width: 100%;
			padding: 0.75rem;
			border: 1px solid #ccc;
			border-radius: 4px;
			font-size: 1rem;
			margin-bottom: 1rem;
			transition: border-color 0.3s ease;

			&:focus {
				border-color: var(--secondary-accent-color);
				outline: none;
			}
		}

		button[type="submit"] {
			padding: 0.75rem 1.5rem;
			font-size: 1rem;
			font-weight: bold;
			color: var(--background-color);
			background-color: var(--primary-accent-color);
			border: none;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: var(--secondary-accent-color);
			}
		}
	}
}

/* Header */
header {
	width: 100%;
	max-width: 100vw;
	height: 80px;
	background: transparent;
	z-index: 100 !important;
	transition: all 0.3s ease;
	* {
		z-index: 99;
	}

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff; // Add a background color if needed
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Optional shadow for visual separation
	}

	.container {
		width: 90%;
		height: 100%;
		.logo {
			height: 70px;
			width: 250px;
			object-fit: contain;
		}

		.main-menu {
			height: 100%;
			.menu-links {
				height: 100%;

				.menu-link {
					display: flex;
					align-items: center;
					margin-right: 1.7em;
					height: 100%;
					transition: all 0.3s ease-in;
					a {
						position: relative;
						height: 100%;
						display: flex;
						align-items: center;
						font-size: 15px;
						font-weight: 600;
						color: var(--foreground-color);
					}
					&:last-of-type {
						margin-right: 0;
					}
					&:hover {
						a {
							color: var(--primary-accent-color);
						}
					}
				}
				.menu-link.active {
					a {
						width: fit-content;
						&:first-of-type {
							color: var(--primary-accent-color);
							font-weight: 700;
						}
						&::after {
							content: "";
							position: absolute;
							top: 50px;
							left: 0;
							width: 100%;
							height: 2px;
							background-color: #015883;
						}
					}
				}

				.menu-item-has-children {
					position: relative;
					width: fit-content;
					height: 100%;
					display: flex;
					align-items: center;
					margin-right: 2em;
					&::after {
						content: url("../images/angle_down.png");
						position: absolute;
						top: 35%;
						left: 108%;
						width: 8px;
						height: 8px;
					}

					.sub-menu {
						display: none;
						width: auto;
						min-width: 110px;
						height: fit-content;
						background-color: var(--background-color);
						position: absolute;
						top: 100%;
						left: 0;
						list-style: none;
						z-index: 5;
						transition: all 0.3s ease-in-out;
						box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
						.menu-link {
							height: 50px;
							margin-right: 0;
							padding: 1em;
							border-top: none !important;
							position: relative;
							a {
								width: 100%;
								height: 100%;
								color: var(--foreground-color);
								white-space: nowrap;
							}
							&::after {
								content: "";
								position: absolute;
								top: 100%;
								left: 5px;
								width: 90%;
								height: 2px;
								background: linear-gradient(90deg, #afe8fd -6.46%, rgba(175, 232, 253, 0) 100%);
							}
							&:last-of-type {
								margin-bottom: 0;
							}
							&:hover {
								a {
									font-weight: 700;
									color: var(--primary-accent-color);
								}
							}
						}
					}

					&:hover {
						.sub-menu {
							display: block;
						}
					}
				}
			}
		}

		.search {
			width: fit-content;
			height: fit-content;
			border: none;
			outline: none;
			img {
				width: 22px;
				height: 22px;
				object-fit: contain;
			}
		}
		.cta-btn {
			color: var(--foreground-color);
			font-weight: 500;
			border: 1px solid #2d29294d;
			border-radius: 5px;
			transition: all 0.3s ease-in;
			span {
				color: #1396ba;
			}
			&:hover {
				border-color: transparent;
				background: linear-gradient(
					277.95deg,
					#1396ba 11%,
					#1396ba 46.69%,
					#1396ba 65.56%,
					#015883 99.81%
				);
				color: var(--background-color);
				span {
					color: var(--background-color);
				}
			}
		}
	}
}

/* Footer */
footer {
	.footer-content {
		background-color: #062a3c;

		.item {
			h3 {
				width: 100%;
				position: relative;
				margin-bottom: 1.5rem;
				color: #40caeb;
				&::after {
					content: "";
					position: absolute;
					top: 120%;
					left: 0;
					width: 100%;
					height: 3px;
					background: linear-gradient(90deg, #afe8fd -6.46%, rgba(175, 232, 253, 0) 100%);
				}
			}
			ul {
				list-style: none;
				padding: 0;
				color: var(--background-color);
				li {
					margin-bottom: 0.5rem;
				}
			}
			p,
			address {
				color: var(--background-color);
			}
			a {
				transition: all 0.3s ease-in;
				&:hover {
					color: var(--primary-accent-color);
				}
			}
		}

		address {
			font-style: normal;
			line-height: 1.6;
		}

		.social {
			.link {
				width: 40px;
				height: 40px;
				border: 1px solid var(--background-color);
				border-radius: 50%;
				background: transparent;
				font-size: 20px;
				color: var(--background-color);
				transition: all 0.3s ease-in;
				&:hover {
					border-color: #40caeb;
					background: #40caeb;
				}
			}
		}
	}

	.footer-bar {
		* {
			color: #062a3c;
			font-weight: 600;
		}
		a {
			transition: all 0.3s ease-in;
			&:hover {
				color: var(--primary-accent-color);
			}
		}
	}
}

/* HOME PAGE STYLES */
.superpower {
	.container {
		.content-wrapper {
			p {
				color: var(--foreground-color);
				line-height: 27px;
			}
		}
		.image-wrapper {
			width: 100%;
			height: 400px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

.case-studies-section {
	text-align: center;
	.cs-swiper {
		width: 100%;

		.swiper-slide {
			display: flex;
			justify-content: center;
			.case-study {
				.image-wrapper {
					width: 100%;
					height: 200px;
					span {
						background-color: var(--primary-accent-color);
						color: var(--background-color);
						border-top-right-radius: 30px;
						padding: 12px 18px;
					}
				}
				.content-wrapper {
					border: 2px solid #afe8fd;
					border-top: 0;
					p {
						color: var(--foreground-color);
					}
				}
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		z-index: 20;
		top: 50%;
		background: transparent;
		color: #242626;
		width: 2.1rem;
		height: 2.1rem;
		border: 2px solid#242626;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:after {
			font-size: 1rem;
			font-weight: bold;
			color: #242626;
		}
	}
	.swiper-button-prev {
		left: 5%;
	}
	.swiper-button-next {
		right: 5%;
	}
	.view-all-btn {
		display: flex;
		align-items: center;
		background: #afe8fd;
		padding: 12px 28px;
		width: fit-content;
		height: fit-content;
		p {
			color: var(--foreground-color);
			font-weight: 600;
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 10px;
			color: var(--primary-accent-color);
			border: 1.5px solid var(--primary-accent-color);
			border-radius: 50%;
			padding: 4px;
			margin-left: 0.5em;
		}
	}
}

.industries {
	.container {
		border-top: 1px dashed #2d292926;
	}
	.industry-swiper {
		width: 100%;

		.swiper-slide {
			display: flex;
			justify-content: center;
			.industry {
				background: transparent;
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		z-index: 20;
		top: 50%;
		background: transparent;
		color: #242626;
		width: 2.1rem;
		height: 2.1rem;
		border: 2px solid#242626;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:after {
			font-size: 1rem;
			font-weight: bold;
			color: #242626;
		}
	}
	.swiper-button-prev {
		left: 5%;
	}
	.swiper-button-next {
		right: 5%;
	}
	.view-all-btn {
		display: flex;
		align-items: center;
		background: #afe8fd;
		padding: 12px 28px;
		width: fit-content;
		height: fit-content;
		p {
			color: var(--foreground-color);
			font-weight: 600;
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 10px;
			color: var(--primary-accent-color);
			border: 1.5px solid var(--primary-accent-color);
			border-radius: 50%;
			padding: 4px;
			margin-left: 0.5em;
		}
	}
}

.home-cta {
	height: fit-content;
	display: flex;
	.content-wrapper {
		height: 400px;
		width: 40%;
		background: #afe8fd4d;
		.inner {
			width: 40%;
		}
	}
	.image-wrapper {
		height: 400px;
		width: 60%;
		.overlay {
			background: linear-gradient(
				276.89deg,
				#1396ba 1.57%,
				#1396ba 34.41%,
				#1396ba 53.4%,
				#015883 99.94%
			);
			opacity: 0.4;
		}
	}
}

.cta-form {
	.container {
		width: 50%;
		form {
			label {
				color: var(--foreground-color);
				font-size: 16px;
				font-weight: 600;
			}
			input {
				border: none;
				outline: none;
				width: 100%;
				height: 30px;
				border-bottom: 1px solid #242626;
			}
			.custom-select {
				width: 100%;
				label {
					color: var(--foreground-color);
					font-size: 16px;
					font-weight: 600;
				}

				.select-box {
					position: relative;

					select {
						width: 100%;
						padding: 8px 12px;
						font-size: 16px;
						font-weight: 500;
						background-color: #f4f9fb;
						color: var(--foreground-color);
						border-bottom: 1px solid var(--foreground-color);
						margin-top: 0.5em;
						appearance: none;
						cursor: pointer;

						&:focus {
							outline: none;
							border-color: var(--primary-accent-color);
						}
					}

					select option {
						padding: 8px;
						background-color: #fff;
						color: var(--foreground-color);
					}
				}
			}
			button {
				display: flex;
				align-items: center;
				justify-content: center;
				background: #afe8fd;
				width: 100%;
				height: 50px;

				p {
					color: var(--foreground-color);
					font-weight: 600;
				}
				span {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 10px;
					color: var(--foreground-color);
					border: 1.5px solid var(--foreground-color);
					border-radius: 50%;
					padding: 4px;
					margin-left: 0.5em;
				}
			}
		}
	}
}
